node_modules/
.env
.env.local
.DS_Store
dist/
build/
backend/uploads/*
!backend/uploads/.gitkeep
backend/data/
*.log
.vscode/
.idea/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
